body
{
	background-color: #A39B88;
	padding: 20px;
	font-family: arial;
}
h1
{
	background-color: #ECECEC;
	color: rgb(100, 97.6, 87.1);
	padding: inherit;
}
p
{
	padding: 5px;
}
#_14
{
	background-color: #0B3595;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}
#_13
{
	background-color: #08499D;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_12
{
	background-color: #2B4D9C;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_11
{
	background-color: #39699E;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_10
{
	background-color: #5B85B4;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_9
{
	background-color: #67ACF9;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_8
{
	background-color: #91BEF0;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_7
{
	background-color: #2FA111 ;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_6
{
	background-color: #F9A3D4;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_5
{
	background-color: #E16FAF;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_4
{
	background-color: #EB3D9F;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_3
{
	background-color: #E20080;
	color:#ffffff;
}

#_2
{
	background-color: #C30C74;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_1
{
	background-color: #B20065 ;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}

#_0
{
	background-color: #89034F;
	color: rgb(100, 97.6, 87.1);
	color:#ffffff;
}
