body
{
	background-color: #E4E3D8;
}
#_1
{
	font-family: serif;
}
#_2
{
	font-family: Georgia;
}
#_3
{
	font-family: Times;
}
#_4
{
	font-family: "Times New Roman";
}
#_5
{
	font-family: sans-serif;
}
#_6
{
	font-family: Arial;
}
#_7
{
	font-family: Verdana;
}
#_8
{
	font-family: Helvetica;
}
#_9
{
	font-family: monospace;
}
#_10
{
	font-family: Courier;
}
#_11
{
	font-family: "Courier New";
}
#_12
{
	font-family: cursive;
}
#_13
{
	font-family: "comic sans Ms";
}
#_14
{
	font-family: "Monotype Corsiva";
}
#_15
{
	font-family: fantasy;
}
#_16
{
	font-family: Impact;
}
#_17
{
	font-family: Haettenschweiler;
}